$tab_arrow_size: 10px;

.arrow-parent {
    position: relative;
    overflow: visible;
    background: $primary-color;
    color: #FFF;
}

.arrow-parent h2 {
    color: inherit;
}

.arrow-parent:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -$tab_arrow_size;
    width: 0;
    height: 0;
    border-top: solid $tab_arrow_size $primary-color;
    border-left: solid $tab_arrow_size transparent;
    border-right: solid $tab_arrow_size transparent;
}
