@font-face {
  font-family: 'Espresso Dolce';
  src: url("./EspressoDolce.ttf");
}

/* Styles */
html, body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  font-family: 'Espresso Dolce', sans-serif !important;
  font-size: 30px !important;
}

@import '~react-select/dist/react-select';
@import '~rc-slider/assets/index';
@import './tables';