@font-face {
  font-family: 'Espresso Dolce';
  src: url("./fonts/EspressoDolce.ttf");
}

@font-face {
  font-family: 'Segoe UI';
  src: url("./fonts/Segoe/segoeui.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/Open_Sans/OpenSans-Regular.ttf");
}

$primary-color: #981192;

html, body {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  font-family: 'Espresso Dolce', sans-serif !important;
  font-size: 30px !important;
}

@import '~react-select/dist/react-select';
@import '~rc-slider/assets/index';
@import './tables';
@import './tabs';