.tabs-root {
    overflow: visible !important;
}

.tabs-scroller {
    overflow: visible !important;
}

.tab-selected {
    position: relative;
    overflow: visible !important;
    font-weight: bold !important;
}
